<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>thyemleaf in action</title>

</head>
<body>
<!--引入头部-->
<div th:replace="~{fragments/header :: header}"></div>
<br><br><br><br><br><br>

<h1 th:text="${userModel.title}"></h1>
<form action="/users" method="post" th:action="@{/users}" th:object="${userModel.user}">
    <input type="hidden" name="id" th:value="*{id}">
    <label>姓名：</label>
    <input type="text" name="name" th:value="*{name}"><br><br>

    <label>邮箱：</label>
    <input type="text" name="email" th:value="*{email}"><br><br>

    <input type="submit" value="提交">
</form>

<!--引入底部-->
<br><br><br><br><br><br>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>