<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>thyemleaf in action</title>

</head>
<body>
<!--引入头部-->
<div th:replace="~{fragments/header :: header}"></div>
<br><br><br><br><br><br>

<h1 th:text="${userModel.title}"></h1>

<div th:object="${userModel.user}">
    <p><strong>ID:</strong><label th:text="*{id}"></label></p>
    <p><strong>姓名:</strong><label th:text="*{name}"></label></p>
    <p><strong>邮箱:</strong><label th:text="*{email}"></label></p>

    <a th:href="@{/users/del/}+*{id}">删除</a>
    <a th:href="@{/users/modify/}+*{id}">修改</a>
</div>

<!--引入底部-->
<br><br><br><br><br><br>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>